{% extends 'base.html' %}

{% block title %}<title>Reset Password</title>{% endblock %}

{% block content %}
<h2>Reset password</h2>
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Reset Password</button>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used.</p>
        <p>Please request a new password reset.</p>
    {% endif %}
<hr>
{% endblock %}